//
//  ObjectiveCLibraryOne.xcconfig
//  ObjectiveLibraryOne
//
//  Created by Ashis Laha on 24/11/19.
//  Copyright © 2019 Ashis Laha. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT_MODULE_NAME = ObjectiveLibraryOne
DEFINE_MODULES = YES
MODULEMAP_FILE = $(SRCROOT)/Modules/module.modulemap
