//
//  MixLibOne.xcconfig
//  MixLibraryOne
//
//  Created by Ashis Laha on 20/12/19.
//  Copyright © 2019 Ashis Laha. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


// Product module name should be same inside modulemap file to map the respective headers
PRODUCT_MODULE_NAME = MixLibraryOne

// generates Module as an output of that static library
DEFINES_MODULE = YES

// refer the modulemap file from this place
MODULEMAP_FILE = $(SRCROOT)/Modules/module.modulemap

// search the objecitve c headers & swift generated header files from "User header search path"
USER_HEADER_SEARCH_PATHS = $(inherited) $(SRCROOT)/Modules $(SRCROOT)/include

// define the objective c interface for swift files
SWIFT_OBJC_INTERFACE_HEADER_NAME = MixLibOne-Swift.h


// The project's user header search path includes MixLibraryOne's iOS public
// directory which contains a module.modulemap file defining MixLibraryOne.
// This flag instructs the Swift compiler to implicitly import the clang module
// as part of the definition of the whole module.

// One important error handling: <unknown>:0: error: underlying Objective-C module 'MixLibraryOne' not found
// project level configuration overrides the target level configuration and you will get the above error. Delete the project level configuration and it will work fine. See, it will be shown in bold in build settings, delete those bold configuration ( here MODULEMAP_FILE & USER_HEADER_SEARCH_PATHS specifically)
OTHER_SWIFT_FLAGS = $(inherited) -import-underlying-module


// Getting an error:
// Command CompileSwiftSources failed with a nonzero exit code
SWIFT_ENABLE_BATCH_MODE = NO
